include *.rst
include LICENSE
include django_json_schema/py.typed
recursive-include django_json_schema *.html
recursive-include django_json_schema *.txt
recursive-include django_json_schema *.po
global-exclude __pycache__
global-exclude *.py[co]
